{% extends "Home/home.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Login Form</h1>
<div style="width: 40%;margin:auto;">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Login" class="btn btn-secondary" role="button"> <a href="{% url 'SIGNUP'%}"
            style="text-decoration: none;" class="btn btn-primary" role="button">Click
            Here For Signup</a>
    </form>
</div>

{% endblock content %}