{% extends "Home/home.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Signup</title>
{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Signup Form</h1>
<div style="width: 30%;margin:auto;">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="signup" class="btn btn-primary" role="button"> <a href="{% url 'LOGIN'%}"
            style="text-decoration: none;" class="btn btn-success" role="button">Click
            Here For Login</a>
    </form>
</div>

{% endblock content %}